


.body {
    font-family: 'IM Fell English SC', serif;

}

.jumbotron {
    font-family: 'IM Fell English SC', serif;
    font-size: 2em;
    color: white;
    text-align: center;
    text-shadow: 2px 2px black;
    background-image: url('../images/fortuneBall2.jpg');
    margin-top: 10px;
    background-size: cover;
}

#randomNumber {
    font-size: 70px;
    font-family: 'IM Fell English SC', serif;
}

#crystalValue1 {
    display: none;
}

#crystalValue2 {
    display: none;
}

#crystalValue3 {
    display: none;
}

#crystalValue4 {
    display: none;
}


#randomNumber {
    text-align: center;
}

#guessrow {
    font-size: 80px;
    font-family: 'IM Fell English SC', serif;
    display: inline-block;
    color: black;
    border-bottom: 2px solid black;
    background-color: lightgray;
}


.number {
    border: 2px solid black;
    font-family: 'IM Fell English SC', serif;

}